@use "./variables.scss";

.menu{
    width: 2.4rem;
    display:none;
    margin-left: auto;
    position: relative;
    z-index: 2;

    @media all and (max-width: variables.$media-m){
        display: block;
    }
}